<div class="container-fluid" style="height:50px;">
 <div class="row">
    <div class="col-sm-3">
      <img src="/mora/assets/img/dhrlogo.png" alt="Smiley face" >
    </div>
    <div class="col-sm-5">
      <h2 style="padding-bottom: 5px"> Maryland Office for Refugees and Asylees </h2>
    </div>
    <div class="col-sm-2">
            <div class="input-group" id="qck-search" style="padding:10px;">
                <input type="text" class="form-control"  [(ngModel)]="qsearchtxt"  name="qsearchtxt" placeholder="Quick Search" />

                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary"  (click)="onSubmit()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-sm-1">

    </div>
</div>

</div>
