
//===================================================================================
// Variables
//===================================================================================

//===================================================================================
// Styles
//===================================================================================
.cv-auto-lock-top {
  position: relative;

  .cv-auto-lock-placeholder {
    //border: 1px dashed red;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .cv-auto-lock-body {
    z-index: 1;
  }
}
