<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>&lt;Vitals Page&gt;</title>
    <style>
      body {margin: 0;padding: 0;}
      body,html {height: 100%;}
    </style>
  </head>
  <body ng-app="app" ng-controller="summaryController">

    <button ng-click="showGuides = !showGuides" style="position:absolute;top:0;left:0;z-index:1000;">Toggle Guides</button>

    <vitals-page ng-if="!isPostStartup" username="Super Kid"></vitals-page>
   <post-startup ng-if="isPostStartup" username="Super Kid"></post-startup>


<script src="../../../../vsl.js"></script>

<script>
VSL.writeScriptsToPage(
   "/resources/css/k5i.css",
   "<CORE>/client/bower_components/jquery/dist/jquery.js",
   "<CORE>/client/bower_components/jquery-ui/jquery-ui.min.js",
   "<CORE>/client/bower_components/angular/angular.js",
   "<CORE>/client/bower_components/angular-animate/angular-animate.js",
   "<CORE>/client/bower_components/angular-bootstrap/ui-bootstrap.js",
   "<CORE>/client/bower_components/ng-idle/angular-idle.min.js",
   "<CORE>/client/vsl/vsl.js",
   "<CORE>/client/vsl/angular.q.extended.js",
   "<CORE>/client/vsl/angular.css.js",
   "<CORE>/client/vsl/core/core.js",
   "<CORE>/client/vsl/core/ui/audioPlayer/audioPlayer.js",
   "<CORE>/client/vsl/core/ui/nextButton/nextButton.js",
   "<CORE>/client/vsl/core/ui/iconButton/iconButton.js",
   "<CORE>/client/vsl/core/ui/uiSpine/src/spine.js",
   "<CORE>/client/vsl/core/ui/uiSpine/uiSpine.js",
   "../../../velocity.js",
   "../../../scenes/scenes.js",
   "vitalsPage.js",
   "../postStartup/postStartup.js",
   "test.js"
   
   
);
</script>

    

    <!--script src="../../../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../../../bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="../../../../bower_components/angular/angular.js"></script>
    <script src="../../../../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../../../../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="../../../vsl.js"></script>
    <script src="../../../angular.q.extended.js"></script>
    <script src="../../../angular.css.js"></script>
    <script src="../../core.js"></script>

    <script>angular.css("vsl.velocity",window.location.href.replace(":53600",":54600").replace("core.voyagersopris","velocity.voyagersopris").combineUrls("/resources/css/k5i.css"));</script>
    <script src="../nextButton/nextButton.js"></script>
    <script src="../iconButton/iconButton.js"></script>
    <script src="../uiSpine/src/spine.js"></script>
    <script src="../uiSpine/uiSpine.js"></script>
    <script type="text/javascript">
    // alert(window.location.href.replace(":53600",":54600").replace("core.voyagersopris","velocity.voyagersopris").combineUrls("client/vsl/velocity/scenes/scenes.js"));

    </script>
    <script src="http://vsltechdev.clg.local:54600/client/vsl/velocity/scenes/scenes.js"></script>

     <script src="../audioPlayer/audioPlayer.js"></script>
    <script src="vitalsPage.js"></script>
    <script src="test.js"></script-->

</body>
</html>
