<!-- BEGIN BASE-->
<div id="base">

  <!-- BEGIN OFFCANVAS LEFT -->
  <div class="offcanvas">
  </div><!--end .offcanvas-->
  <!-- END OFFCANVAS LEFT -->

  <!-- BEGIN CONTENT-->
  <div id="content">

    <!-- BEGIN BLANK SECTION -->
    <section>
      <div class="section-header">
        <ol class="breadcrumb">
          <li><a href="#">Client</a></li>
          <li class="active">Client Details</li>
        </ol>
      </div><!--end .section-header -->

      <div class="section-body">

        <div class="col-md-12" style="padding-left: 0;padding-right: 0">
          <div class="card ">
            <div class="card-body ">
              <div class="card card-outlined style-primary">
                <div class="card-head" style="min-height: 0px!important;">

                  <h2 style="font-size: 20px;margin-bottom: 12px!important;margin-top: 10px!important;margin-left: 10px!important;"><i class="fa fa-user"></i>&nbsp;Profile</h2>
                </div><!--end .card-head -->
                <div class="card-body" style="padding: 9px!important;">
                  <form class="form">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <input type="text" class="form-control" id="Firstname2">
                        <label for="Firstname2">Alien / Client Number</label>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <input type="text" class="form-control" id="Firstname2">
                        <label for="Firstname2">First Name</label>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <input type="text" class="form-control" id="Lastname2">
                        <label for="Lastname2">Last Name</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <input type="text" class="form-control" id="Firstname2">
                        <label for="Firstname2">Middle Name</label>
                      </div>
                    </div>
                    <div class="col-sm-4">

                      <div class="form-group">
                        <select id="select2" name="select2" class="form-control">
                          <option value="">&nbsp;</option>
                          <option value="30">Male</option>
                          <option value="40">Female</option>

                        </select>
                        <label for="select2">Gender</label>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <input type="text" class="form-control" id="Lastname2">
                        <label for="Lastname2">SSN</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-4">

                      <div class="form-group">
                        <select id="select2" name="select2" class="form-control">
                          <option value="">&nbsp;</option>
                          <option value="30">Yes</option>
                          <option value="40">No</option>

                        </select>
                        <label for="select2">Immigration Status</label>
                      </div>
                    </div>
                    <div class="col-sm-4">

                      <div class="form-group">
                        <select id="select2" name="select2" class="form-control">
                          <option value="">&nbsp;</option>
                          <option value="30">Yes</option>
                          <option value="40">No</option>

                        </select>
                        <label for="select2">Secondary Migrant</label>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <input type="text" class="form-control" id="Firstname2">
                        <label for="Firstname2">Date of Entry</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <input type="text" class="form-control" id="Firstname2">
                        <label for="Firstname2">Country of Birth</label>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <input type="text" class="form-control" id="Firstname2">
                        <label for="Firstname2">Primary Language</label>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <input type="text" class="form-control" id="Lastname2">
                        <label for="Lastname2">Secondary Language</label>
                      </div>
                    </div>
                  </div>
                    </form>
                </div><!--end .card-body -->
              </div>
              <div class="card card-outlined style-primary">
                <div class="card-head" style="min-height: 0px!important;">

                  <h2 style="font-size: 20px;margin-bottom: 12px!important;margin-top: 10px!important;margin-left: 10px!important;"><i class="fa fa-map-marker"></i>&nbsp;Address</h2>
                </div><!--end .card-head -->
                <div class="card-body" style="padding: 9px!important;">
                  <form class="form">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <input type="text" class="form-control" id="Firstname2">
                          <label for="Firstname2">Street</label>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <input type="text" class="form-control" id="Firstname2">
                          <label for="Firstname2">City</label>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <input type="text" class="form-control" id="Lastname2">
                          <label for="Lastname2">Country</label>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <input type="text" class="form-control" id="Firstname2">
                          <label for="Firstname2">State</label>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <input type="text" class="form-control" id="Firstname2">
                          <label for="Firstname2">Zipcode</label>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <input type="text" class="form-control" id="Lastname2">
                          <label for="Lastname2">Email</label>
                        </div>
                      </div>
                    </div>
                  </form>
                </div><!--end .card-body -->
              </div>

              <div class="card-actionbar">
                <div class="card-actionbar-row">
                  <button type="submit" class="btn btn-flat btn-primary ink-reaction">Save</button>
                  <button type="submit" class="btn btn-flat btn-primary ink-reaction">Cancel</button>
                </div>
              </div>
            </div>
          </div><!--end .card -->

        </div>

      </div><!--end .section-body -->
    </section>

    <!-- BEGIN BLANK SECTION -->
  </div><!--end #content-->
  <!-- END CONTENT -->

  <!-- BEGIN MENUBAR-->
  <div id="menubar" class="menubar-inverse ">
    <div class="menubar-fixed-panel">
      <div>
        <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <div class="expanded">
        <a href="#">
          <span class="text-lg text-bold text-primary ">MORA</span>
        </a>
      </div>
    </div>
    <div class="menubar-scroll-panel">

      <!-- BEGIN MAIN MENU -->
      <ul id="main-menu" class="gui-controls">

        <!-- BEGIN DASHBOARD -->
        <li>
          <a href="#" >
            <div class="gui-icon"><i class="md md-home"></i></div>
            <span class="title">Dashboard</span>
          </a>
        </li><!--end /menu-li -->
        <!-- END DASHBOARD -->

        <!-- BEGIN EMAIL -->
        <li class="gui-folder">
          <a>
            <div class="gui-icon"><i class="md md-person-add"></i></div>
            <span class="title">Client</span>
          </a>
          <!--start submenu -->
          <ul>
            <li><a href="#" ><span class="title">Client Search</span></a></li>
            <li><a href="#" ><span class="title">Create Client</span></a></li>
            <li><a href="#" ><span class="title">View / Edit Client</span></a></li>

          </ul><!--end /submenu -->
        </li><!--end /menu-li -->
        <!-- END EMAIL -->

        <!-- BEGIN EMAIL -->
        <li class="gui-folder">
          <a>
            <div class="gui-icon"><i class="md md-insert-drive-file"></i></div>
            <span class="title">Case</span>
          </a>
          <!--start submenu -->
          <ul>
            <li><a href="#" ><span class="title">Case Search</span></a></li>
            <li><a href="#" ><span class="title">My Case</span></a></li>
            <li><a href="#" ><span class="title">Case Dashboard</span></a></li>

          </ul><!--end /submenu -->
        </li><!--end /menu-li -->
        <!-- END EMAIL -->

        <!-- BEGIN EMAIL -->
        <li class="gui-folder">
          <a>
            <div class="gui-icon"><i class="md md-email"></i></div>
            <span class="title">Program</span>
          </a>
          <!--start submenu -->
          <ul>
            <li><a href="#" ><span class="title">Program Dashboard</span></a></li>


          </ul><!--end /submenu -->
        </li><!--end /menu-li -->
        <!-- END EMAIL -->

        <!-- BEGIN EMAIL -->
        <li class="gui-folder">
          <a>
            <div class="gui-icon"><i class="md md-report"></i></div>
            <span class="title">Reports</span>
          </a>
          <!--start submenu -->
          <ul>
            <li><a href="#" ><span class="title">Report 1</span></a></li>
            <li><a href="#" ><span class="title">Report 2</span></a></li>


          </ul><!--end /submenu -->
        </li><!--end /menu-li -->
        <!-- END EMAIL -->

        <!-- BEGIN EMAIL -->
        <li class="gui-folder">
          <a>
            <div class="gui-icon"><i class="md md-person"></i></div>
            <span class="title">Admin</span>
          </a>
          <!--start submenu -->
          <ul>
            <li><a href="#" ><span class="title">Upload USCIS Data</span></a></li>
            <li><a href="#" ><span class="title">???</span></a></li>



          </ul><!--end /submenu -->
        </li><!--end /menu-li -->
        <!-- END EMAIL -->




      </ul><!--end .main-menu -->
      <!-- END MAIN MENU -->

      <div class="menubar-foot-panel">
        <small class="no-linebreak hidden-folded">
          <span class="opacity-75"><strong>Footer</strong></span>
        </small>
      </div>
    </div><!--end .menubar-scroll-panel-->
  </div><!--end #menubar-->
  <!-- END MENUBAR -->



</div><!--end #base-->


<!-- END BASE -->
