<div class="container-fluid" style="height:50px;">
  <div class="row">
     <div class="col-sm-12">
      <div class="mainMORRA_Nav">
        <div class="dropdown-mora">
          <button class="dropbtn">Client</button>
          <div class="mainMORRA_Subnav">
            <a [routerLink]="['./home/client/search']">Search</a>
            <a [routerLink]="['./home/client/details']">New Client</a>
          </div>
        </div>
        <a href="#news">Case</a>
        <div class="dropdown-mora">
          <button class="dropbtn">Programs</button>
          <div class="mainMORRA_Subnav">
            <a href="#">RTCA</a>
            <a href="#">TAP</a>
            <a href="#">RSS</a>
            <a href="#">ESL</a>
          </div>
        </div>
        <a href="#news">Admin</a>
        <a href="#news">Reports</a>
      </div>
    </div>
  </div>
</div>
