.modal-content {
    top: 110px !important;
}

.modal-footer {
  border-top: 0 !important;
}

.modal-body {
    overflow-y: auto;
    padding: 16px;
}

.modal-title {
    font-size: x-large;
    color: crimson;
}

